:root {
  --primary-0: rgba(255, 255, 255, 1);
  --secondary-500: rgba(26, 32, 44, 1);
  --secondary-300: rgba(144, 163, 191, 1);
  --primary-500: rgba(53, 99, 233, 1);
  --bold-type-20-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-20-font-weight: 700;
  --bold-type-20-font-size: 20px;
  --bold-type-20-letter-spacing: -0.6px;
  --bold-type-20-line-height: 150%;
  --bold-type-20-font-style: normal;
  --bold-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --bold-type-14-font-weight: 700;
  --bold-type-14-font-size: 14px;
  --bold-type-14-letter-spacing: -0.28px;
  --bold-type-14-line-height: 150%;
  --bold-type-14-font-style: normal;
  --semibold-type-16-font-family: "Plus Jakarta Sans", Helvetica;
  --semibold-type-16-font-weight: 600;
  --semibold-type-16-font-size: 16px;
  --semibold-type-16-letter-spacing: -0.32px;
  --semibold-type-16-line-height: 150%;
  --semibold-type-16-font-style: normal;
  --medium-type-14-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-14-font-weight: 500;
  --medium-type-14-font-size: 14px;
  --medium-type-14-letter-spacing: -0.28px;
  --medium-type-14-line-height: 150%;
  --medium-type-14-font-style: normal;
}



.catalog {
    position: relative;
    width: 304px;
    height: 388px;
    background-color: var(--primary-0);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .catalog .car-name {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 24px;
    left: 24px;
  }
  
  .catalog .text-wrapper {
    position: relative;
    width: 173px;
    margin-top: -1.00px;
    font-family: var(--bold-type-20-font-family);
    font-weight: var(--bold-type-20-font-weight);
    color: var(--secondary-500);
    font-size: var(--bold-type-20-font-size);
    letter-spacing: var(--bold-type-20-letter-spacing);
    line-height: var(--bold-type-20-line-height);
    font-style: var(--bold-type-20-font-style);
  }
  
  .catalog .div {
    position: relative;
    width: 128px;
    height: 20px;
    font-family: var(--bold-type-14-font-family);
    font-weight: var(--bold-type-14-font-weight);
    color: var(--secondary-300);
    font-size: var(--bold-type-14-font-size);
    letter-spacing: var(--bold-type-14-letter-spacing);
    line-height: var(--bold-type-14-line-height);
    white-space: nowrap;
    font-style: var(--bold-type-14-font-style);
  }
  
  .catalog .like {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    left: 256px;
  }
  
  .catalog .price {
    display: inline-flex;
    flex-direction: column;
    height: 44px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 320px;
    left: 24px;
  }
  
  .catalog .text-wrapper-2 {
    width: 116px;
    height: 44px;
    font-family: "Plus Jakarta Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--secondary-500);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    margin-top: -1.00px;
  }
  
  .catalog .button-rental {
    display: flex;
    width: 116px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 20px;
    position: absolute;
    top: 320px;
    left: 164px;
    background-color: var(--primary-500);
    border-radius: 4px;
    
  }
  
  
  .catalog .text-wrapper-3 {
    position: relative;
    width: 76px;
    font-family: var(--semibold-type-16-font-family);
    font-weight: var(--semibold-type-16-font-weight);
    color: var(--primary-0);
    font-size: var(--semibold-type-16-font-size);
    text-align: center;
    letter-spacing: var(--semibold-type-16-letter-spacing);
    line-height: var(--semibold-type-16-line-height);
    font-style: var(--semibold-type-16-font-style);
  }
  
  .catalog .spesification {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 272px;
    left: 24px;
  }
  
  .catalog .div-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .catalog .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .catalog .text-wrapper-4 {
    width: 28px;
    height: 24px;
    font-family: var(--medium-type-14-font-family);
    font-weight: var(--medium-type-14-font-weight);
    color: var(--secondary-300);
    font-size: var(--medium-type-14-font-size);
    letter-spacing: var(--medium-type-14-letter-spacing);
    line-height: var(--medium-type-14-line-height);
    white-space: nowrap;
    position: relative;
    margin-top: -1.00px;
    font-style: var(--medium-type-14-font-style);
  }
  
  .catalog .car {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .catalog .overlap-group {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-size: 100% 100%;
  }
  
  .catalog .circle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    background-color: var(--primary-0);
    border-radius: 20px;
  }
  
  .catalog .circle-2 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
  }
  
  .catalog .circle-3 {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 6px;
    background-color: var(--primary-0);
    border-radius: 20px;
  }
  
  .catalog .rectangle {
    width: 2px;
    height: 4px;
    top: 15px;
    left: 9px;
    position: absolute;
    background-color: var(--secondary-300);
  }
  
  .catalog .rectangle-2 {
    width: 4px;
    height: 2px;
    top: 9px;
    left: 15px;
    position: absolute;
    background-color: var(--secondary-300);
  }
  
  .catalog .rectangle-3 {
    width: 4px;
    height: 2px;
    top: 9px;
    left: 1px;
    position: absolute;
    background-color: var(--secondary-300);
  }
  
  .catalog .text-wrapper-5 {
    position: relative;
    width: 48px;
    height: 24px;
    margin-top: -1.00px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--secondary-300);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .catalog .text-wrapper-6 {
    position: relative;
    width: 60px;
    height: 24px;
    margin-top: -1.00px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--secondary-300);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .catalog .overlap {
    position: absolute;
    width: 304px;
    height: 123px;
    top: 112px;
    left: 0;
  }
  
  .catalog .shadow {
    position: absolute;
    width: 304px;
    height: 68px;
    top: 55px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
  }
  
  .catalog .car-2 {
    position: absolute;
    width: 232px;
    height: 105px;
    top: 0;
    left: 36px;
  }