<div class="catalog">
  <div class="car-name">
    <div class="text-wrapper">{{ vehicle.make }} {{ vehicle.model }}</div>
    <div class="div">Sport</div>
  </div>
  <img class="like" src="assets/img/like.svg" />
  <div class="price">
    <div class="text-wrapper-2">{{ vehicle.price | currency: 'EUR' }}</div>
  </div>
  <button class="button-rental" (click)="irADetalles()">
    <div class="text-wrapper-3">Rent</div>
  </button>
  <div class="spesification">
    <div class="div-2">
      <img class="img" src="assets/img/gas-station.svg" />
      <div class="text-wrapper-4">{{ vehicle.fuelType }}</div>
    </div>
    <div class="car">
      <div class="img">
        <div class="overlap-group">
          <div class="circle"></div>
          <img class="circle-2" src="assets/img/circle-2.svg" />
          <div class="circle-3"></div>
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
        </div>
      </div>
      <div class="text-wrapper-5">{{ vehicle.transmission }}</div>
    </div>
    <div class="div-2">
      <img class="img" src="assets/img/profile-2user.svg" />
      <div class="text-wrapper-6">{{ vehicle.capacity }} People</div>
    </div>
  </div>
  <div class="overlap">
    <div class="shadow"></div>
    <img class="car-2" [src]="'assets/img/' + vehicle.model + '.png'" />
  </div>
</div>
