<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="car-card.component.css" />
  </head>
  <body>
    <div class="catalog">
      <div class="car-name">
        <div class="text-wrapper">Koenigsegg</div>
        <div class="div">Sport</div>
      </div>
      <img class="like" src="front/src/assets/images/koennisegg.png" />
      <div class="price"><div class="text-wrapper-2">100.000 €</div></div>
      <button class="button-rental"><div class="text-wrapper-3">Buy Now</div></button>
      <div class="spesification">
        <div class="div-2">
          <img class="img" src="front/src/assets/images/koennisegg.png" />
          <div class="text-wrapper-4">90L</div>
        </div>
        <div class="car">
          <div class="img">
            <div class="overlap-group">
              <div class="circle"></div>
              <img class="circle-2" src="front/src/assets/images/koennisegg.png" />
              <div class="circle-3"></div>
              <div class="rectangle"></div>
              <div class="rectangle-2"></div>
              <div class="rectangle-3"></div>
            </div>
          </div>
          <div class="text-wrapper-5">Manual</div>
        </div>
        <div class="div-2">
          <img class="img" src="front/src/assets/images/koennisegg.png" />
          <div class="text-wrapper-6">2 People</div>
        </div>
      </div>
      <div class="overlap">
        <img class="car-2" src="front/src/assets/images/koennisegg.png" />
        <div class="shadow"></div>
      </div>
    </div>
  </body>
</html>
