<div class="card car-card">
    <div class="position-relative">
      <img src="src/assets/images/koennisegg.png" class="card-img-top rounded-top" alt="koennisegg" />
      <button class="btn btn-link position-absolute top-0 end-0 p-2">
        <i class="fa fa-heart text-danger"></i>
      </button>
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">Koenigsegg</h5>
      <p class="card-text text-muted">Sport</p>
      <div class="car-card__features mb-2">
        <span>98L</span> | 
        <span>Manual</span> | 
        <span>2 People</span>
      </div>
      <div class="car-card__price mb-3">
        <span class="fw-bold">100.000 €</span>
      </div>
      <button class="btn btn-primary w-100">Buy Now</button>
    </div>
  </div>
  