.nav-bar-top {
  background-color: var(--primary-0);
  border: 1px solid;
  border-color: #c3d4e966;
  height: 124px;
  position: relative;
  width: 1440px;
  user-select: none;
}

.nav-bar-top .profil-notification {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  left: 1122px;
  position: absolute;
  top: 40px;
  width: 300px;
}

.nav-bar-top .overlap-group-wrapper {
  height: 44px;
  position: relative;
  width: 44px;
}

.nav-bar-top .overlap-group {
  border-radius: 90px;
  height: 44px;
  position: relative;
}

.nav-bar-top .vuesax-bold-heart {
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  left: 13px;
  position: absolute;
  top: 10px;
  width: 19px;
}

.nav-bar-top .button {
  border: 1px solid;
  border-color: #c3d4e966;
  border-radius: 90px;
  height: 44px;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 44px;
}

.nav-bar-top .icon-instance-node {
  height: 24px !important;
  left: 10px !important;
  position: absolute !important;
  top: 10px !important;
  width: 24px !important;
}

.nav-bar-top .notif {
  background-color: #ff4423;
  border-radius: 5.5px;
  height: 11px;
  left: 31px;
  position: absolute;
  top: 2px;
  width: 11px;
}

.nav-bar-top .profil {
  background-position: 50% 50%;
  background-size: cover;
  height: 44px;
  position: relative;
  width: 44px;
}

.nav-bar-top .logo {
  height: 31px;
  left: 62px;
  position: absolute;
  top: 51px;
  width: 93px;
}

.nav-bar-top .search {
  height: 44px;
  left: 272px;
  position: absolute;
  top: 40px;
  width: 494px;
}

.nav-bar-top .overlap {
  background-color: var(--primary-0);
  border: 1px solid;
  border-color: #c3d4e966;
  border-radius: 70px;
  height: 44px;
  position: relative;
  width: 492px;
  display: flex; /* Asegura que el input se ajuste dentro */
  align-items: center;
  padding: 0 15px; /* Ajusta el padding para el input */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

.nav-bar-top .text-wrapper {
  color: var(--secondary-400);
  font-family: var(--medium-type-14-font-family);
  font-size: var(--medium-type-14-font-size);
  font-style: var(--medium-type-14-font-style);
  font-weight: var(--medium-type-14-font-weight);
  letter-spacing: var(--medium-type-14-letter-spacing);
  line-height: var(--medium-type-14-line-height);
  border: none;
  background: transparent;
  outline: none;
  margin-left: 30px;
  width: 100%; /* Ocupa el ancho completo del contenedor */
  height: 100%; /* Ocupa la altura completa del contenedor */
  box-sizing: border-box; /* Asegura que el padding no haga que se salga */
}


.nav-bar-top .search-normal {
  height: 24px !important;
  left: 19px !important;
  position: absolute !important;
  top: 9px !important;
  width: 24px !important;
}

.nav-bar-top .vuesax-linear-filter {
  height: 24px !important;
  left: 447px !important;
  position: absolute !important;
  top: 9px !important;
  width: 24px !important;
}
