


/*******************************************************/

.mechanic-page {
    background-color: #f6f7f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .mechanic-page .div {
    background-color: #f6f7f9;
    width: 1440px;
    height: 2037px;
    position: relative;
  }
  
  .mechanic-page .overlap {
    position: absolute;
    width: 1328px;
    height: 1359px;
    top: 500px;
    left: 64px;
  }
  
  .mechanic-page .catalogue-car {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 3px;
    left: 0;
  }
  
  .mechanic-page .div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mechanic-page .popular {
    display: inline-flex;
    align-items: flex-start;
    gap: 1076px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mechanic-page .div-wrapper {
    display: flex;
    width: 132px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 20px;
    position: relative;
    border-radius: 4px;
  }
  
  .mechanic-page .text-wrapper {
    position: relative;
    width: 92px;
    height: 24px;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--secondary-300);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .mechanic-page .view {
    position: relative;
    width: 104px;
    height: 44px;
    border-radius: 4px;
  }
  
  .mechanic-page .div-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mechanic-page .catalog {
    position: relative;
    width: 304px;
    height: 388px;
    background-color: var(--primary-0);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .mechanic-page .overlap-group {
    position: absolute;
    width: 116px;
    height: 44px;
    top: 320px;
    left: 164px;
    background-image: url(./img/button-rental.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .text-wrapper-2 {
    width: 69px;
    height: 24px;
    top: 9px;
    left: 25px;
    font-family: var(--semibold-type-16-font-family);
    font-weight: var(--semibold-type-16-font-weight);
    color: #ffffff;
    font-size: var(--semibold-type-16-font-size);
    text-align: center;
    letter-spacing: var(--semibold-type-16-letter-spacing);
    line-height: var(--semibold-type-16-line-height);
    white-space: nowrap;
    position: absolute;
    font-style: var(--semibold-type-16-font-style);
  }
  
  .mechanic-page .price {
    position: absolute;
    width: 116px;
    height: 40px;
    top: 310px;
    left: 24px;
  }
  
  .mechanic-page .rectangle {
    position: absolute;
    width: 116px;
    height: 16px;
    top: 0;
    left: 0;
    background-color: var(--primary-300);
    border-radius: 20px;
  }
  
  .mechanic-page .rectangle-2 {
    width: 116px;
    top: 24px;
    left: 0;
    position: absolute;
    height: 16px;
    background-color: #eff3fd;
    border-radius: 20px;
  }
  
  .mechanic-page .spesification {
    position: absolute;
    width: 256px;
    height: 16px;
    top: 258px;
    left: 24px;
  }
  
  .mechanic-page .rectangle-3 {
    width: 68px;
    top: 0;
    left: 0;
    position: absolute;
    height: 16px;
    background-color: #eff3fd;
    border-radius: 20px;
  }
  
  .mechanic-page .rectangle-4 {
    width: 68px;
    top: 0;
    left: 94px;
    position: absolute;
    height: 16px;
    background-color: #eff3fd;
    border-radius: 20px;
  }
  
  .mechanic-page .rectangle-5 {
    width: 68px;
    top: 0;
    left: 188px;
    position: absolute;
    height: 16px;
    background-color: #eff3fd;
    border-radius: 20px;
  }
  
  .mechanic-page .car-name {
    position: absolute;
    width: 116px;
    height: 40px;
    top: 24px;
    left: 24px;
  }
  
  .mechanic-page .add-square {
    width: 90px;
    height: 90px;
    top: 104px;
    left: 107px;
    position: absolute;
  }
  
  .mechanic-page .catalog-2 {
    position: relative;
    width: 304px;
    height: 388px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .mechanic-page .car-name-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 24px;
    left: 24px;
  }
  
  .mechanic-page .text-wrapper-3 {
    position: relative;
    width: 173px;
    margin-top: -1.00px;
    font-family: var(--bold-type-20-font-family);
    font-weight: var(--bold-type-20-font-weight);
    color: var(--secondary-500);
    font-size: var(--bold-type-20-font-size);
    letter-spacing: var(--bold-type-20-letter-spacing);
    line-height: var(--bold-type-20-line-height);
    font-style: var(--bold-type-20-font-style);
  }
  
  .mechanic-page .text-wrapper-4 {
    position: relative;
    width: 128px;
    height: 20px;
    font-family: var(--bold-type-14-font-family);
    font-weight: var(--bold-type-14-font-weight);
    color: var(--secondary-300);
    font-size: var(--bold-type-14-font-size);
    letter-spacing: var(--bold-type-14-letter-spacing);
    line-height: var(--bold-type-14-line-height);
    white-space: nowrap;
    font-style: var(--bold-type-14-font-style);
  }
  
  .mechanic-page .like {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    left: 256px;
  }
  
  .mechanic-page .price-2 {
    display: inline-flex;
    flex-direction: column;
    height: 44px;
    align-items: flex-start;
    gap: 4px;
    position: absolute;
    top: 320px;
    left: 24px;
  }
  
  .mechanic-page .text-wrapper-5 {
    position: relative;
    width: 116px;
    height: 44px;
    margin-top: -1.00px;
    font-family: "Plus Jakarta Sans-Bold", Helvetica;
    font-weight: 700;
    color: var(--secondary-500);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .mechanic-page .button-rental {
    width: 116px;
    height: 44px;
    top: 320px;
    left: 164px;
    background-color: #3563e9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 20px;
    position: absolute;
    border-radius: 4px;
  }
  
  .mechanic-page .text-wrapper-6 {
    position: relative;
    width: 76px;
    font-family: var(--semibold-type-16-font-family);
    font-weight: var(--semibold-type-16-font-weight);
    color: #ffffff;
    font-size: var(--semibold-type-16-font-size);
    text-align: center;
    letter-spacing: var(--semibold-type-16-letter-spacing);
    line-height: var(--semibold-type-16-line-height);
    font-style: var(--semibold-type-16-font-style);
  }
  
  .mechanic-page .spesification-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 272px;
    left: 24px;
  }
  
  .mechanic-page .div-4 {
    display: inline-flex;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mechanic-page .img {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .mechanic-page .text-wrapper-7 {
    position: relative;
    width: 28px;
    height: 24px;
    margin-top: -1.00px;
    font-family: var(--medium-type-14-font-family);
    font-weight: var(--medium-type-14-font-weight);
    color: var(--secondary-300);
    font-size: var(--medium-type-14-font-size);
    letter-spacing: var(--medium-type-14-letter-spacing);
    line-height: var(--medium-type-14-line-height);
    white-space: nowrap;
    font-style: var(--medium-type-14-font-style);
  }
  
  .mechanic-page .car {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .mechanic-page .overlap-group-2 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-5.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .circle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .mechanic-page .circle-2 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
  }
  
  .mechanic-page .circle-3 {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 6px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .mechanic-page .rectangle-6 {
    position: absolute;
    width: 2px;
    height: 4px;
    top: 15px;
    left: 9px;
    background-color: var(--secondary-300);
  }
  
  .mechanic-page .rectangle-7 {
    position: absolute;
    width: 4px;
    height: 2px;
    top: 9px;
    left: 15px;
    background-color: var(--secondary-300);
  }
  
  .mechanic-page .rectangle-8 {
    position: absolute;
    width: 4px;
    height: 2px;
    top: 9px;
    left: 1px;
    background-color: var(--secondary-300);
  }
  
  .mechanic-page .text-wrapper-8 {
    position: relative;
    width: 48px;
    height: 24px;
    margin-top: -1.00px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--secondary-300);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .mechanic-page .text-wrapper-9 {
    position: relative;
    width: 60px;
    height: 24px;
    margin-top: -1.00px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--secondary-300);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .mechanic-page .overlap-2 {
    position: absolute;
    width: 304px;
    height: 123px;
    top: 112px;
    left: 0;
  }
  
  .mechanic-page .shadow {
    position: absolute;
    width: 304px;
    height: 68px;
    top: 55px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 100%
    );
  }
  
  .mechanic-page .car-2 {
    position: absolute;
    width: 232px;
    height: 105px;
    top: 0;
    left: 36px;
  }
  
  .mechanic-page .overlap-group-3 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/image.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-4 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-10.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .recomendation {
    display: flex;
    width: 196px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 20px;
    position: relative;
    border-radius: 4px;
  }
  
  .mechanic-page .text-wrapper-10 {
    position: relative;
    width: 156px;
    height: 24px;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--secondary-300);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .mechanic-page .recomendation-car {
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mechanic-page .overlap-group-5 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-4.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-6 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-2.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-7 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-13.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-8 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-11.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-9 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-3.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-10 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-14.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-11 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-16.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-12 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-6.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .recomendation-car-2 {
    gap: 20px;
    position: absolute;
    top: 487px;
    left: 16px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mechanic-page .overlap-group-13 {
    position: absolute;
    width: 116px;
    height: 44px;
    top: 320px;
    left: 164px;
    background-image: url(./img/button-rental-2.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-14 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-8.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-15 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-15.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-16 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-17.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-17 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-12.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-18 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-9.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-19 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-group-20 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    background-image: url(./img/circle-4-7.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .group {
    top: 487px;
    position: absolute;
    width: 217px;
    height: 50px;
    left: 1095px;
  }
  
  .mechanic-page .overlap-3 {
    position: relative;
    height: 50px;
  }
  
  .mechanic-page .overlap-4 {
    position: absolute;
    width: 217px;
    height: 50px;
    top: 0;
    left: 0;
  }
  
  .mechanic-page .arrow-left {
    position: absolute;
    width: 50px;
    height: 217px;
    top: -84px;
    left: 84px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px dashed;
    border-color: #7b61ff;
    transform: rotate(-90.00deg);
  }
  
  .mechanic-page .property-linear {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 16px;
    transform: rotate(90.00deg);
  }
  
  .mechanic-page .flecha-arriba {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    left: 65px;
    background-image: url(./img/arrow-right.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .ajustes {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 114px;
    background-image: url(./img/setting-2-2.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .candado {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 167px;
    background-image: url(./img/unlock.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .overlap-wrapper {
    top: 0;
    position: absolute;
    width: 217px;
    height: 50px;
    left: 1095px;
  }
  
  .mechanic-page .property-linear-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 14px;
    transform: rotate(90.00deg);
  }
  
  .mechanic-page .flecha-arriba-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 65px;
    background-image: url(./img/arrow-right.svg);
    background-size: 100% 100%;
  }
  
  .mechanic-page .show-more {
    display: inline-flex;
    align-items: center;
    gap: 438px;
    position: absolute;
    top: 1948px;
    left: 642px;
  }
  
  .mechanic-page .show-more-2 {
    display: flex;
    width: 156px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 20px;
    position: relative;
    background-color: #3563e9;
    border-radius: 4px;
  }
  
  .mechanic-page .text-wrapper-11 {
    position: relative;
    width: 116px;
    height: 24px;
    font-family: var(--semibold-type-16-font-family);
    font-weight: var(--semibold-type-16-font-weight);
    color: #ffffff;
    font-size: var(--semibold-type-16-font-size);
    text-align: center;
    letter-spacing: var(--semibold-type-16-letter-spacing);
    line-height: var(--semibold-type-16-line-height);
    white-space: nowrap;
    font-style: var(--semibold-type-16-font-style);
  }
  
  .mechanic-page .text-wrapper-12 {
    position: relative;
    width: 140px;
    height: 24px;
    font-family: var(--medium-type-14-font-family);
    font-weight: var(--medium-type-14-font-weight);
    color: var(--secondary-300);
    font-size: var(--medium-type-14-font-size);
    text-align: right;
    letter-spacing: var(--medium-type-14-letter-spacing);
    line-height: var(--medium-type-14-line-height);
    white-space: nowrap;
    font-style: var(--medium-type-14-font-style);
  }
  
  .mechanic-page .overlap-5 {
    position: absolute;
    width: 1312px;
    height: 340px;
    top: 143px;
    left: 64px;
    border-radius: 10px;
  }
  
  .mechanic-page .ads {
    position: absolute;
    width: 1312px;
    height: 340px;
    top: 0;
    left: 0;
    background-color: var(--primary-500);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .mechanic-page .ads-wrapper {
    position: absolute;
    width: 728px;
    height: 340px;
    top: 0;
    left: 0;
    background-image: url(./img/BG.png);
    background-size: 100% 100%;
  }
  
  .mechanic-page .title-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    top: 24px;
    left: 24px;
  }
  
  .mechanic-page .title {
    display: flex;
    flex-direction: column;
    width: 639px;
    height: 155px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
  }
  
  .mechanic-page .welcome-back-admin {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--primary-0);
    font-size: 36px;
    letter-spacing: -1.08px;
    line-height: 54px;
  }
  
  .mechanic-page .p {
    position: relative;
    width: 376px;
    margin-bottom: -4.00px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--primary-0);
    font-size: 24px;
    letter-spacing: -0.48px;
    line-height: 36px;
  }
  
  .mechanic-page .profil {
    position: absolute;
    width: 126px;
    height: 130px;
    top: 24px;
    left: 1170px;
    background-image: url(./img/image-3.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .mechanic-page .button-rent {
    width: 189px;
    height: 73px;
    top: 246px;
    left: 1068px;
    background-color: #00ffdd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 20px;
    position: absolute;
    border-radius: 4px;
  }
  
  .mechanic-page .text-wrapper-13 {
    position: relative;
    width: 132px;
    height: 37px;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #545555;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.48px;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .mechanic-page .notif {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 238px;
    left: 1288px;
    background-color: #ff4423;
    border-radius: 7.5px;
  }
  
  .mechanic-page .nav-bar-top {
    position: absolute;
    width: 1440px;
    height: 124px;
    top: 2px;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c3d4e966;
  }
  
  .mechanic-page .profil-notification {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 40px;
    left: 1122px;
  }
  
  .mechanic-page .overlap-group-wrapper {
    position: relative;
    width: 44px;
    height: 44px;
  }
  
  .mechanic-page .overlap-group-21 {
    position: relative;
    height: 44px;
    border-radius: 90px;
  }
  
  .mechanic-page .vuesax-bold-heart {
    position: absolute;
    width: 27px;
    height: 34px;
    top: 6px;
    left: 8px;
    background-image: url(./img/heart.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .mechanic-page .button {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0;
    border-radius: 90px;
    border: 1px solid;
    border-color: #c3d4e966;
    opacity: 0.8;
  }
  
  .mechanic-page .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 10px;
  }
  
  .mechanic-page .notif-2 {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 2px;
    left: 31px;
    background-color: #ff4423;
    border-radius: 5.5px;
  }
  
  .mechanic-page .profil-2 {
    position: relative;
    width: 44px;
    height: 44px;
    background-image: url(./img/image-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .mechanic-page .logo {
    position: absolute;
    width: 190px;
    height: 44px;
    top: 35px;
    left: 29px;
    font-family: var(--bold-type-32-font-family);
    font-weight: var(--bold-type-32-font-weight);
    color: #3563e9;
    font-size: var(--bold-type-32-font-size);
    letter-spacing: var(--bold-type-32-letter-spacing);
    line-height: var(--bold-type-32-line-height);
    white-space: nowrap;
    font-style: var(--bold-type-32-font-style);
  }
  
  .mechanic-page .search {
    position: absolute;
    width: 494px;
    height: 44px;
    top: 40px;
    left: 272px;
  }
  
  .mechanic-page .overlap-6 {
    position: relative;
    width: 492px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 70px;
    border: 1px solid;
    border-color: #c3d4e966;
  }
  
  .mechanic-page .search-something {
    position: absolute;
    width: 149px;
    height: 20px;
    top: 11px;
    left: 63px;
    font-family: var(--medium-type-14-font-family);
    font-weight: var(--medium-type-14-font-weight);
    color: var(--secondary-400);
    font-size: var(--medium-type-14-font-size);
    text-align: justify;
    letter-spacing: var(--medium-type-14-letter-spacing);
    line-height: var(--medium-type-14-line-height);
    white-space: nowrap;
    font-style: var(--medium-type-14-font-style);
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .mechanic-page .search-normal {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 9px;
    left: 19px;
  }
  
  .mechanic-page .vuesax-linear-filter {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 9px;
    left: 447px;
  }
  