<div class="nav-bar-top">
  <!-- Botones de Perfil y Notificación -->
  <div class="profil-notification">
    <a routerLink="/accessibyllity" title="Acces">
      <img src="./img/acc.svg" alt="Acces" />
    </a>
    <a routerLink="/favorites" title="Favorites">
      <img src="./img/heart.svg" alt="Favorites" />
    </a>
    <a routerLink="/notifications" title="Notifications">
      <img src="./img/notify.svg" alt="Notifications" />
    </a>
    <a routerLink="/settings" title="Settings">
      <img src="./img/setting.svg" alt="Settings" />
    </a>
    <a routerLink="/user" title="User">
      <img src="./img/fucker.svg" alt="Settings" />
    </a>
  </div>

  <!-- Logo de la Aplicación -->

  <img class="logo" src="./img/logo.svg" alt="CarUp" />

  <!-- Barra de Búsqueda -->
  <div class="search">
    <div class="overlap">
      <input 
        [(ngModel)]="searchQuery" 
        (keyup.enter)="onSearch()" 
        class="search-something" 
        placeholder="Search something" 
        type="text" 
      />
      <!-- Ruta de imagen actualizada según tu estructura de proyecto -->
      <img 
        class="search-normal" 
        src="./img/search.svg" 
        alt="Search" 
        (click)="onSearch()" 
      />
    </div>
  </div>
</div>
